*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}
.formSection{
    height: 100vh;;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.container1{
    width: 800px;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
input,select,button,textarea{
    padding: 12px;
    border: #dbd6d6 1px solid;
}
.genC,.dobC,.cityC{
    text-align: start;
    display: flex;
    align-items: center;
}
.genC #Male{
    text-align: start;
}
.interestsC{
    text-align: start;
    display: flex;
}
.dob input,.city select{
    width: 100%;
}
.submit{
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
.mandatory{
    color: red;
}
input:focus,select:focus,textarea:focus{
    outline: none;
    border: 2px solid #5cb85c;
}
.submit:hover{
    background-color: #319b31;
}
.fields{
    width: 100%;
}
.error-message{
    font-size: 12px;
    color: red;
    text-align: left;
    margin-top: 5px;
}
.label{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 100%;
}
.Glabel{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 20%;
}
.dataTable{

}
table{
    border-collapse: collapse;
    width: 100%;
}
table{
    border: #000 2px solid;
    border-radius: 5px;
}
th,td{
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 5px;
    text-align: center;
}
th{
    background-color: #808080;
    padding: 20px;
    color: #fff;
}
.row{
    display: none;
}
.container2{
    margin-top: 200px;
}
tr:nth-child(even){
    background-color: #808080;
    color: #fff;
}
.firstName,.lastName,.email,.phone,.dob,.city,.password,.confirmPassword{
    flex-basis: 50%;
}
.sec1,.sec2,.sec3,.sec4{
    display: flex;
    gap: 20px;
}
.left{
    margin-left: 20px;
}
.gap{
    margin-left: 30px;
}