*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}
.formSection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}
.container1{
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    text-align: center;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
input,select,button,textarea{
    padding: 12px;
    border: #dbd6d6 1px solid;
}
.genC,.dobC,.cityC{
    text-align: start;
    display: flex;
    align-items: center;
    gap: 30px;
}
.interestsC{
    text-align: start;
    display: flex;
    gap: 10px;
}
.dob input,.city select{
    width: 100%;
}
.submit{
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
.mandatory{
    color: red;
}
input:focus,select:focus,textarea:focus{
    outline: none;
    border: 2px solid #5cb85c;
}
.submit:hover{
    background-color: #319b31;
}
.fields{
    width: 100%;
}
.error-message{
    font-size: 12px;
    color: red;
    text-align: left;
    margin-top: 5px;
}
.label{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 100%;
}
.Glabel{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 20%;
}
.dataTable{

}
table{
    border-collapse: collapse;
    width: 100%;
}
table,tr,th,td{
    border: #000 2px solid;
    padding: 5px;
    text-align: center;
}
.row{
    display: none;
}
.container2{
    margin-top: 200px;
}
