*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    background-image: url("./public/background2.jpg");
}
.formSection,.container2{
    max-width: 1540px;
    margin: auto;
}
.formSection{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.container1{
    width: 800px;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #fff;
    opacity: 0.90;
    object-fit: fill;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
input,select,button,textarea{
    padding: 12px;
    border: #dbd6d6 1px solid;
}
.genC{
    text-align: start;
    display: flex;
    align-items: center;
}
.genC #Male{
    text-align: start;
}
.interestsC{
    text-align: start;
    display: flex;
}
.dob input,.city select{
    width: 100%;
}
.submit{
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 800;
}
.discard{
    background-color: rgb(209, 58, 58);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    border: none;
    display: none;
}
.discard:hover{
    background-color: rgb(225, 20, 20);
}
.mandatory{
    color: red;
}
input:focus,select:focus,textarea:focus{
    outline: none;
    border: 2px solid #5cb85c;
}
.submit:hover{
    background-color: #319b31;
}
.fields{
    width: 100%;
}
.error-message{
    font-size: 12px;
    color: red;
    text-align: left;
    margin-top: 5px;
}
.label{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 100%;
}
.Glabel{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 20%;
}
table{
    border-collapse: collapse;
    width: 100%;
    /* border-radius: 5px; */
}
th,td{
    border: 2px solid rgba(124, 124, 124, 0.6);
    padding: 5px;
    text-align: center;
    /* border-radius: 10px; */
}
th{
    /* background-color: #808080; */
    padding: 20px;
    color: #000;
}
.row{
    display: none;
}
.container2{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0.90;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tableContainer{
    width: 100%;
    height: 100%;
    overflow: auto;
}
tr:nth-child(even){
    background-color: #ebebeb;
    color: #000;
}
.firstName,.lastName,.email,.phone,.dob,.city,.password,.confirmPassword{
    flex-basis: 50%;
}
.sec1,.sec2,.sec3,.sec4{
    display: flex;
    gap: 20px;
}
.left{
    margin-left: 20px;
}
.gap{
    margin-left: 30px;
}
#dob,#city{
    color: #9c9a9a;
    background-color: #fff;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(70%) grayscale(100%); 
}
.accountHeading{
    text-align: center;
    margin-bottom: 5px;
}
.heading,.accountHeading{
    font-size: 40px;

}
.column{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
}
.actionButtons{
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.editButton,.deleteButton{
    cursor: pointer;
}
thead{
    background-color: #5cb85c;
    color: #fff;
}
th{
    color: #fff;
    line-height: 1px;
}
.sortBy,.filterBy{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;
}
 #sortByWho{
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #9c9a9a;
}
 .actionRow{
    display: flex;
    gap: 20px;
    justify-content: end;
 }
 .filterBy{
    border: #9c9a9a 1px solid;
    padding:0px 15px;
    border-radius: 5px;
    opacity: 0.9;
 }